@model FirstAspDotnetApp.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.CompanyName</h1>
    <p>Welcome here !</p>
</div>
