@model Student
@{
    ViewData["Title"] = "Students";
}

<h1>Details of @Model.Lastname @Model.Firstname</h1>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Lastname</td>
            <td>@Model.Firstname</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-link btn-dark text-white" style="text-decoration: none;" asp-controller="classroom" asp-action="students" asp-route-id="1">Retour</a>